$Heading-text:'Roboto Slab',serif;
$Header-text:'Segoe UI';
$Para-text:'Slabo 27px', serif;
.header{
    background-color:#1e90ff;
    border: none;
    font-family: $Header-text;
    .navbar-header > a{
        color:#2f3542;
    }
    .navbar-collapse{
        .nav-links > li>a{
            color:#2f3542;
        }
        .nav-links > li>a:hover{
                color: white;
        }
    }
}
.jumbotron{
    background: none;
    margin-bottom: 0;
    p{
        font-family: 'ZCOOL KuaiLe', cursive;
    }
    h1{
        font-family: $Heading-text;
    }
    
}

.home-box{
    h2{
        font-family: $Header-text;
    }
    p{
        font-family: $Para-text;
        font-size: 16px;
    }
}
